<nav [profesor]="profesor" [student]="student"></nav>
<div style="display: flex;justify-content: space-between;">
    <predmeti-nav style="width: 23%;" [predmeti]="predmeti" (subjectChange)="subjectChange($event)"></predmeti-nav>
    <div style="margin-left: 5px; flex-grow: 1;">
        <h2> {{subject}} </h2><hr style="margin-right: 5%;">
        <div *ngIf="student">
            <label for="files" style="font-size: 25px; ">Trenutno je ostvareno:</label><br><br>
            <progress id="file" style="width: 30%;" [value]="percentage" max="100" class="progress-bar-info progress-bar-success"></progress>
        </div>
        <br>
        <br>
        <predmeti-grid style="margin-right: 5px;" [data]="assignments" ></predmeti-grid>
    </div>
</div>