<nav [profesor]="profesor" [student]="student"></nav>
<div style="display: flex;justify-content: space-between;">
    <predmeti-nav style="flex-grow: 1;"></predmeti-nav>
    <div style="margin-left: 5px; flex-grow: 1;">
        <h2> Predmet </h2><br><br>
        <div *ngIf="student">
            <label for="files" style="font-size: 25px; ">Trenutno je ostvareno:</label><br><br>
            <progress id="file"  value="32" max="100" class="progress-bar-info progress-bar-success"> 32% </progress>
        </div>
        <br>
        <br>
        <predmeti-grid style="margin-right: 5px;" ></predmeti-grid>
    </div>
</div>