<nav [profesor]="profesor" [student]="student"></nav>
<div>
    <h1 style="margin-left: 1%;">Vaš profil </h1>
    <hr>
    <div class="centerForm row">
      <form autocomplete="off" novalidate>
        <div class="col-md-6">
          <div class="form-group">
            <label for="imeiprezime">Ime i prezime:</label><br>
            <input style="width: 100%;" type="text" id="imeiprezime" name="imeiprezime" [value]="profile.imeiprezime" readonly><br>
          </div>
          <div class="form-group">
              <label for="email">Email:</label><br>
              <input style="width: 100%;" type="text" id="email" name="email" [value]="profile.email" readonly><br>
          </div>
          <div class="form-group">
              <label for="email">Lozinka:</label><br>
              <input style="width: 100%;" type="password" id="lozinka" name="lozinka" [value]="profile.lozinka" ><br>
          </div>
          <div class="form-group">
              <label for="datumRodjenja">Datum rođenja:</label><br>
              <input style="width: 100%;" type="text" id="datumRodjenja" name="datumRodjenja" [value]="profile.datumRodjenja" readonly><br>
          </div>
        </div>
      <div class="col-md-6">
        <div class="form-group"  *ngIf="student">
            <label for="index">Index:</label><br>
            <input style="width: 100%;" type="text" id="index" name="index" [value]="profile.index" readonly><br>
        </div>
        <div class="form-group">
            <label for="jmbg">JMBG: </label><br>
            <input style="width: 100%;" type="text" id="jmbg" name="jmbg" [value]="profile.jmbg" readonly><br>
        </div>
        <div class="form-group" *ngIf="student">
            <label for="odsjek">Odsjek:</label><br>
            <input style="width: 100%;" type="text" id="odsjek" name="odsjek" [value]="profile.odsjek" readonly><br>
        </div>
        <div class="form-group">
            <label for="adresa">Adresa stanovanja:</label><br>
            <input style="width: 100%;" type="text" id="adresa" name="adresa" [value]="profile.adresa" ><br>
          </div>
         
        </div>
        
      </form>     
    </div>
    <br>
    <div class="centerButton row">
      <button type="submit" class="btn btn-primary" style="margin-right:20px">Save</button>
      <button type="button" class="btn btn-default">Edit</button>
    </div>
  </div>