<div style="margin-left: 5%;">
  <form autocomplete="off">
    <label for="tip" class="form-group" >Tip dokumenta:</label>
        <select name="tip" id="tip" style="width: 100%;">
        <option value="stipendija">Potvrda za stipendiju</option>
        <option value="prepis">Prepis ocjena</option>
    </select><br><br>
    <label for="svrha" class="form-group" >Tip dokumenta:</label>
    <select name="svrha" id="svrha" style="width: 100%;">
        <option value="stipendija">Potvrda za stipendiju</option>
        <option value="prevoz">Potvrda za prevoz</option>
    </select>
    <br><br>
        
    <button type="submit" class="btn btn-primary" style="margin-right:20px">Submit</button>
    <button type="button" class="btn btn-default">Cancel</button>
  </form>
</div>