<h1>Dokumenti</h1>
<hr>
<div class="col-md-4" style="">
  <form autocomplete="off">
    <label for="tip" class="form-group" >Tip dokumenta:</label><br>
        <select name="tip" id="tip">
        <option value="stipendija">Potvrda za stipendiju</option>
        <option value="prepis">Prepis ocjena</option>
    </select><br>
    <label for="svrha" class="form-group" >Tip dokumenta:</label><br>
        <select name="svrha" id="svrha">
        <option value="stipendija">Potvrda za stipendiju</option>
        <option value="prevoz">Potvrda za prevoz</option>
    </select><br><br>
        
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-default">Cancel</button>
  </form>
</div>