<div>
    <h1>Vaš profil </h1>
    <hr>
    <div class="col-md-4">
      <form autocomplete="off" novalidate>
        <div class="form-group">
          <label for="imeiprezime">Ime i prezime:</label><br>
          <input type="text" id="imeiprezime" name="imeiprezime" value="Almasa Festa" readonly><br>
        </div>
        <div class="form-group">
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" value="afesta1@etf.unsa.ba" readonly><br>
        </div>
        <div class="form-group">
            <label for="email">Lozinka:</label><br>
            <input type="password" id="lozinka" name="lozinka" value="afesta1@etf.unsa.ba" readonly><br>
        </div>
        <div class="form-group">
            <label for="datumRodjenja">Datum rođenja:</label><br>
            <input type="date" id="datumRodjenja" name="datumRodjenja" value="07/03/1998" readonly><br>
        </div>
        <div class="form-group">
            <label for="index">Index:</label><br>
            <input type="text" id="index" name="index" value="17829" readonly><br>
        </div>
        <div class="form-group">
            <label for="jmbg">JMBG: </label><br>
            <input type="text" id="jmbg" name="jmbg" value="0703998175063" readonly><br>
        </div>
        <div class="form-group">
            <label for="odsjek">Ime i prezime:</label><br>
            <input type="text" id="odsjek" name="odsjek" value="RI" readonly><br>
        </div>
        <div class="form-group">
            <label for="adresa">Adresa stanovanja:</label><br>
            <input type="text" id="adresa" name="adresa" value="Terzibasina 3" readonly><br>
          </div>
        
  
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default">Edit</button>
      </form>
    </div>
  </div>